@CHARSET "UTF-8";

body,html {
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font: 10px sans-serif;
}
body {
  margin: 25px 50px 50px 50px;
}

header, footer {
	width: 100%;
	text-align: center;
	color: #fff;
}
header {
	font-weight: bolder;
	font-size: 1.3em;
}
footer {
	position: relative;
}
section {
	margin: 0 auto;
}

.errorMsg {
	color: red;
	font-weight:normal;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
}

/** search form */
form#searchform {
	margin: 25px 0px 0px 50px;	
}
label {
  display: inline-block; 
  width: 200px;
}
button {
  margin: 20px;
}